html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 10rem;
  padding-top: 8rem;
}

.title span {
  display: block;
  color: azure;
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  text-align: start;
  text-shadow: 0 0 20px green;
}

.event-container {
  padding-top: 20px;
  text-align: center;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background-image: url(./sustainability-circuitboard-3qn34lylshayft72.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding-top: 1.2rem;
  padding-bottom: 0.2rem;
  padding-left: 3.5rem;
}

nav ul {
  width: 100%;
  text-align: right;
  text-decoration: none;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.events-title span {
  color: white;
  text-align: center;
  font-family: roboto;
  font-size: 50px;
  
 
}

.event-cont {
  background-color: #0f2139;
  padding-bottom: 50px;
}

.text {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 55px;
}

.text7 {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.text2 {
  height: 300px;
  width: 500px;
}

.img {
  margin-top: 30px;
  margin-left: 200px;
}

.heading1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #A2FF86;
  font-size: larger;
}

.img2 {
  margin-top: 30px;
  margin-right: 200px;
}

.content-txt {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

footer ul li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  margin-right: 50px;
}

.footer-title {
  font-size: 20px;
  margin-top: 35px;
  margin-left: 85px;
  font-family: 'Roboto', sans-serif;
  text-align: start;
  text-decoration: none;
  color: white;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

@keyframes appearleft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block {
  animation: appearleft 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appearright {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block1 {
  animation: appearright 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes title {
  from {
    opacity: 0;
    transform: translateY(20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.title {
  animation: title 1s linear;
}

@media (max-width: 1480px) {
  /* Styles for tablets */
  .events {
    padding-left: 5rem;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title span {
    font-size: 50px;
  }

  .text {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }

  .text7 {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
  }

  .text2 {
    width: 100%;
    text-align: center;
    height: fit-content;
  }

  .img, .img2 {
    margin: 15px 0;
    width: 400px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  nav ul {
    text-align: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-title {
    text-align: center;
  }

  footer ul {
    flex-direction: row;
    justify-content: space-around;
  }

  footer ul li {
    margin: 1px 0;
  }
}

@media (max-width: 768px) {
  /* Styles for mobile phones */
  .main-container {
    height:auto;
  }

  .events {
    padding-left: 0px;
    padding-top: 2px;
  }

  .title span {
    display: flex;
    align-items: center;
    font-size: 50px;
    text-align: center;
  }

  .text, .text7 {
    margin: 10px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .text2 {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .heading1 {
    text-align: center;
    font-size: medium;
  }

  .content-txt {
    font-size: 20px;
  }

  .img, .img2 {
    width: fit-content;
    justify-content: center;
    margin-top: 2px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  nav ul li {
    margin: 10px 10px;
  }

  footer {
    padding: 1rem 0;
  }

  footer ul {
    flex-direction: row;
    align-items: center;
  }

  footer ul li {
    margin: 5px 0;
  }
}

